body {
    font-family: 'Orbitron', sans-serif;
    background: black;
    color: #1ec503;
}

.timeEntry {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "header header"
        "break session"
        "timer timer";
    grid-column-gap: 10%;
}

.header {
    grid-area: header;
    justify-self: center;
    text-align: center;
    font-size: 40px;
}

.breakLength {
    grid-area: break;
    justify-self: end;
    text-align: center;
    font-size: 20px;
}

.sessionLength {
    grid-area: session;
    justify-self: start;
    text-align: center;
    font-size: 20px;
}

.timer {
    grid-area: timer;
    justify-self: center;
    text-align: center;
    font-size: 30px;
}

.fas {
    color: #1ec503;
}

button {
    border: none;
    margin: 10px;
    background: none;
}

